body {
    color:whitesmoke; 
    background-color: #50af47;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
}
h1 {
    color: whitesmoke;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem black;

}
table {
    margin: auto;
    border-spacing: 6rem 0.5rem;
    font-size:2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    text-align: left;
}
th {
    border-bottom: 0.3rem dashed;
}
img {
    height: 24%; 
    width: 24%; 
    display:block; 
    margin-left: auto;
}
